.contador{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.botonContador{
    background-color: white;
    border-color: blue;
    border-radius: 3px;
    color: blue;
    height: 30px;
    margin: 2px;
}

.botonComprar{
    color: white;
    border-color: blue;
    border-radius: 3px;
    background-color: blue;
    height: 30px;
}

.botonera{
    width: 100%;
    text-align: center;
}