ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  li a:hover:not(.brand) {
    color: red;
}

.brand{
    font-weight: bold;
    user-select: none;
}